#
#  Sample DTSQ configuration file.
#
#  The DTSQ configuration file is not required provided the default values
#  are sufficient or the caller is happy to supply values on the command-
#  line.
#
#  The default location for this file is "$HOME/.dtsq_config".  This can
#  be overridden by defining a 'DTSQ_CONFIG' environment variable with the
#  path to the configuration to be used, or with the '-c <path>' commandline
#  option.
#

#  The configuration file is made up of one or more entries similar to
#  the following (example values shown):

queue 
    name        test			# queue name                       [REQ]
    host        denali.tuc.noao.edu	# DTSD ingest host for the queue   [REQ]
    method	give			# transport method (push or give)
    nthreads    4			# No. of transport threads
    loPort	3001			# low transfer port
    hiPort	3257			# hi transfer port
    dir         default			# use default spool dir

queue 
    name        test.sched
    host        denali.tuc.noao.edu
    dir         default
    method      give
    nthreads    4



#  DESCRIPTION:
#  ============
#
#  An explanation of the fields is as follows:
#
#    queue 	Begin a new entry to define a submission queue.
#
#    name	Name of the queue to which we'll be submitting.  This field
#		is required.
#
#    host	The host to contact to submit to the <name> queue.  This
#   		field is required.
#
#    method	Method of transport.  Possible values are 'give' and 'push'.
#		In a 'give' method the DTSQ application supplies the sockets
#		in the range defined by the 'loPort' and 'hiPort' numbers.
#		DTSQ will start at the 'loPort' and search for open ports
#		until the 'hiPort' value is reached.  In a 'push' model, the
#		DTS daemon on <host> is assumed to provide the sockets, in
#		which case the lo/hiPort values are ignored.
#
#    nthreads	Number of transport threads to use.  Default 4.
#
#    loPort	Lowest port number to use when creating transport sockets.
#
#    hiPort	Highest port number to use when creating transport sockets.
#
#    dir	DTSQ working directory.
#
#
#
#  DISCUSSION:
#  ===========
#
#  A minimum configuration file consists of:
#
#    queue 
#        name  	   example		# queue name
#        host      example.noao.edu	# DTSD host for queue
#
#
#  If there is one and only one queue defined in the condfiguration file, 
#  then DTSQ may be called without arguments.  For instance
#
#	% dtsq /path/test.fits
#
#  would move the file to the 'example' queue running at 'example.noao.edu'
#
#  When more than one queue is defined, the '-q <qname>' flag is required
#  to specify which queue to use.  Queue names are assumed to be unique and
#  serve as an index into the configuration.  For instance
#
#	% dtsq -q example /path/test.fits
#
#  would use only the configuration parameters defined for the queue named
#  example. 
#
#  In the absence of a configuration file, the '-q <qname>' and the 
#  '-t <target>' flags must be specified.  For instance,
#
#	% dtsq -q example -t example.noao.edu /path/test.fits
#
#  would specify the queue name and the DTS host to contact.
